<!doctype html>
<head>
  <title>Flask and chart</title>
  <link rel="stylesheet" href='../static/css/custom.css'>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MS63235');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS63235"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<h1>Comparaison</h1>

<div class="back">
    <button onclick="Previous()">Back to Home</button>
</div>
<br>
<table class="compa">
    <thead>
        <td style="text-align: center;" >With Dictionnary</td>
        <td style="text-align: center;">Witn count function</td>
    </thead>
    <tr>
        <td> {{D_count}}</td>
        <td>{{F_count}}</td>
    </tr>
</table>


<!--
<canvas id="myChart" width="400" height="400"></canvas>

 <form action="#" method="post" target="_self">
  <input type="button"
  onclick="RedirectionJavascriptLogger()"
  style="background-color: rgb(119, 81, 81);"
  value="Logger">

  <input type="button"
  onclick="RedirectionJavascriptCookie()"
  style="background-color: rgb(81, 105, 119);"
  value="Cookie">
  
</form> -->


<script>
    function Previous() {
        window.history.back()
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="../static/js/d3.min.js"></script>
<script  src='../static/js/index.js'></script>
</body>