<!doctype html>
<head>
  <title>Training</title>
  <link rel="stylesheet" href='../static/css/custom.css'>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MS63235');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS63235"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <h2>Part 2</h2>

<form action="#" method="post" target="_self">

    <div class="row">
        
        <div class="logging_window">
            <div class="back">
              <button onclick="Previous()">Back to Home</button>
            </div>
    
            <pre id="output">
              <div id=w74>
                <label>Google cookie: </label>{{ value }}
                <br>
                <label>Ganalytic analytic: </label>{{ analytic }}
                <br>
                <label>Number of user: </label>{{visit}}
                <br>
                <label>Number of event click: </label>{{event}}
              </div>
            </pre>
        </div>
      </div>
<!--   <input type="button"
  onclick="send()"
  style="background-color: rgb(119, 81, 81);"
  value="submit"> -->
</form>
<script>
  function send() {
    var x = document.getElementById("textLogger");
    console.warn(x.value) ;
  }        
  function Previous() {
            window.history.back()
        }
</script>
</body>